body{
    background-color: #a7cfe3;
}
hr{
    height: 1px;
    background-color: #34b58a;
    border: none;
}
p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #140151;
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 1px;
  }
h1{
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    text-transform: uppercase;
    color: #0d042b;
}
button{
    background-color: #32287f;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    border-radius: 4px;
  }